@font-face {
    font-family: 'OpenSans';
    src: url('/assets/OpenSans-Regular.eot');
    src: url('/assets/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/OpenSans-Regular.woff') format('woff'),
         url('/assets/OpenSans-Regular.ttf') format('truetype'),
         url('/assets/OpenSans-Regular.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}